<!DOCTYPE html>
<html>
<head>
    <script id="fill" type="text/html">
        <li>
            <input type="checkbox"> {{ value }}
            <button class="delete">Delete</button>
        </li>
    </script>

    <!-- this is all data from the cookie -->
    <script id="after" type="text/html">
        {{#arr}}
          <li>
              <input class="check" type="checkbox">
              <span>{{value}}</span>
              <button class="delete">Delete</button>
          </li>
        {{/arr}}
    </script>

    <!-- template for ajax calls -->
    <script id="ajax1" type="text/html">
        {{#arr}}
          <li>
             <input class="check" type="checkbox" value='{{id}}'> {{text}}
             <button class="delete">Delete</button>
          </li>
        {{/arr}}
    </script>


</head>
